
@{
    ViewData["Title"] = "Service";
}

<div class="breadcumb-wrapper " data-bg-src="~/assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Services</h1>
            <ul class="breadcumb-menu">
                <li><a href="home-medical-clinic.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
Service Area
==============================-->
<section class="overflow-hidden space" id="service-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title-area text-center">
                    <span class="sub-title"><img src="~/assets/img/theme-img/title_icon.svg" alt="Icon">Our Services</span>
                    <h2 class="sec-title">Our Mediax specialties Technical service</h2>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_1.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_1.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Internal Medicine</a></h3>
                    <p class="box-text">30+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_2.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_2.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Dental Care</a></h3>
                    <p class="box-text">20+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_3.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_3.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Urology Care</a></h3>
                    <p class="box-text">20+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_4.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_4.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Neurology Care</a></h3>
                    <p class="box-text">10+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_5.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_5.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Gynecologists</a></h3>
                    <p class="box-text">30+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_6.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_6.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Ophthalmology</a></h3>
                    <p class="box-text">24+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_7.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_7.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Orthopedics</a></h3>
                    <p class="box-text">26+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_8.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_8.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Cardiology</a></h3>
                    <p class="box-text">20+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_1.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_9.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Surgery Center</a></h3>
                    <p class="box-text">20+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_2.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_10.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Hematology</a></h3>
                    <p class="box-text">24+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_3.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_11.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Pulmonology</a></h3>
                    <p class="box-text">26+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="service-card" data-bg-src="~/assets/img/service/service_card_4.jpg">
                    <div class="box-shape">
                        <img src="~/assets/img/bg/service_card_bg.png" alt="Service">
                    </div>
                    <div class="box-icon">
                        <img src="~/assets/img/icon/service_card_12.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Audiology Care</a></h3>
                    <p class="box-text">20+ Doctors</p>
                    <a href="service-details.html" class="th-btn btn-sm style2 theme-color">Read More</a>
                </div>
            </div>
        </div>
        <div class="th-pagination text-center mt-5 mb-0">
            <ul>
                <li><a href="blog.html">1</a></li>
                <li><a href="blog.html">2</a></li>
                <li><a href="blog.html">3</a></li>
                <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>

<!--==============================
Cta Area
==============================-->
<section class="space-bottom">
    <div class="container z-index-common">
        <div class="cta-sec5 mega-hover" data-bg-src="~/assets/img/bg/cta_bg_5.jpg">
            <h2 class="sec-title text-white mb-35">We are pleased to offer you the healthy.</h2>
            <a href="shop-details.html" class="th-btn style4 shadow-1">Contact Us Now</a>
        </div>
    </div>
</section>

