@using Mediax.BL.ViewModels.Doctor
@model List<DoctorVM>


<div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Our Doctors</h1>
            <ul class="breadcumb-menu">
                <li><a href="home-medical-clinic.html">Home</a></li>
                <li>Our Doctors</li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
Team Area
==============================-->
<section class="space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Expert doctors</span>
            <h2 class="sec-title">Meet our professional Doctors</h2>
        </div>
        <div class="row gy-40 justify-content-center">
            <!-- Single Item -->
             @foreach (var doctor in Model)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-team team-card">
                    <div class="box-img">
                            <img src="~/doctors/imgs/@doctor.ImageUrl" alt="@doctor.FullName">
                        
                    </div>
                    <h3 class="box-title"><a href="team-details.html">@doctor.FullName</a></h3>
                        <span class="team-desig">@doctor.Specialization</span>
                </div>
            </div>

            }

        </div>
    </div>
</section>

